/*=================================
Review Section CSS
*/
.client-sec {
	padding-top: 120px;

	.client-intro {
		h2 {
			max-width: 90%;

			@include media-breakpoint-down(md) {
				font-size: 28px;
			}

			@include media-breakpoint-only(lg) {
				font-size: 31px;
			}
		}

		@include media-breakpoint-only(md) {
			max-width: 80%;
			margin-bottom: 50px;
		}
	}
	@include media-breakpoint-only(xl) {
		.sec-title{
			font-size: 38px;
		}
	}
}

.review-slider {
	height: 500px;
	padding-left: 30px;
	@include media-breakpoint-only(lg) {
		height: 550px;
	}
	@include media-breakpoint-down(md) {
		height: 545px;
	}
	.swiper-slide {
		max-width: 620px;

		&.swiper-slide-active {
			margin: 0 auto
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 16%;
		@include media-breakpoint-down(md) {
			top: 64%;
		}
		&::after {
			content: "\f106";
		}
	}

	.swiper-button-prev {
		right: auto;
		left: 0;
		top: 30%;
		@include media-breakpoint-down(md) {
				top: 75%;
			}
		&::after {
			content: "\f107";
		}
	}
}

.single-quote {
	cursor: pointer;
	padding: 50px 48px 20px;
	position: relative;
	z-index: 1;
	@include media-breakpoint-down(md) {
		padding: 30px 24px 20px;
	}
	@include media-breakpoint-only(lg) {
		padding: 50px 35px 20px;
	}
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: url('../images/quote.png')no-repeat top right;
		@include opacity(.03);
		left: 0;
		top: 0;
		z-index: -1;
		@include transition();
	}
	.quote-img{
		width: 100px;
		height: 100px;
		@include border-radius(50%);
		img{
			border: 4px solid $white;
			width: 92px;
			height: 92px;
		}
	}
	.quote-name {
		h3 {
			margin-bottom: 5px;
			font-size: 23px;
		}

		p {
			font-size: 15px;
		}
	}

	&:hover::after {
		@include opacity(.1);
	}
}

.client-sec2 {
	overflow: hidden;
	padding: 200px 0 150px;
	@extend .overly;

	&::before {
		background: url('../images/client-circle.png')no-repeat left center / contain;
		width: 558px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 100%;
	}

	.swiper-button-next {
		left: -73%;
	}

	.swiper-button-prev {
		left: -63%;
	}

	.swiper-pagination {
		top: auto;
		left: 40%;
		bottom: -40px;
	}
}

.review-slider2 {
	width: 150%;
	@include media-breakpoint-down(md) {
		width: 100%;
	}

}

.client-3 {
	background: url('../images/serv-card-bg.png'), rgba(255, 255, 255, .7);
	@extend .overly;

	&::before {
		width: 21%;
		background-color: $primary;

		@include media-breakpoint-down(md) {
			height: 50%;
		}
	}

	.review-3-wrap {
		padding-left: 70px;
		@include media-breakpoint-only(md) {
			padding-left: 20px;
		}
		@include media-breakpoint-down(md) {
			padding: 60px 0 0;
		}
	}

	.review-3 {
		position: relative;

		.s-quote {
			max-width: 90%;

			.quote-head {
				h3 {
					text-transform: uppercase;
					margin-bottom: 5px;
				}

				p {
					font-size: 13px;
					text-transform: uppercase;
					color: $primary;
					font-weight: 500;
				}
			}
			@include media-breakpoint-down(lg){
				max-width: 100%;
			}
		}

	}

	.client-thumb {
		max-width: 200px;
		text-align: left;
		margin-left: 0;
		margin-top: 30px;
		position: absolute;
		margin-left: 70px;

		img {
			cursor: pointer;
		}
		@include media-breakpoint-down(lg){
			margin-top: 10px;
			margin-left: 20px;
		}
	}

	.swiper-pagination {
		position: absolute;
		top: 18%;
		width: 105px;
		left: 92%;
		z-index: 10;
		transform: rotate(90deg);


		span {
			display: block;
			background-color: $black;

			&.swiper-pagination-bullet-active {
				border: 2px solid $primary;
				background-color: $white;

				&::before {
					background-color: $primary;
				}
			}
		}
	}
}